* {
  margin: 0px;
  padding: 0px; }

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #fff59d, #fdeea4, #f9e7ab, #f3e1b3, #ecdbba); }

header {
  background-color: #fff59d;
  width: 100%; }

header .logo {
  width: 120px;
  height: 120px; }

.titulo {
  margin-right: 120px;
  position: relative;
  left: 7vw;
  padding-top: 30px;
  padding-bottom: 30px;
  color: black;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

h2 {
  padding-top: 40px;
  padding-left: 20px;
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: 'Roboto', sans-serif black; }

.redes {
  margin: 5px;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 99%;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-template-rows: 100% 100%;
  grid-row-gap: 10px;
  text-align: start;
  font-size: 14px;
  color: black;
  font-family: 'Roboto', sans-serif; }

.encuesta {
  width: 90%;
  border: solid 2px gray;
  font-family: 'Roboto', sans-serif;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto; }

h3 {
  padding: 10px;
  text-align: center;
  position: relative;
  font-size: 14px;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif; }

.link {
  padding-top: 20px;
  text-align: center;
  padding-left: 20px;
  bottom: 25px; }

.imagen4 {
  left: 302px; }

.visualizacion {
  margin-top: 5vw;
  margin-bottom: 5vw; }

.visualizacioncombo {
  margin-top: 50px; }

.descripcion {
  border-top: solid black;
  text-align: start;
  font-size: 18px;
  color: black;
  font-family: 'Roboto', sans-serif; }

.descripbot {
  text-align: start;
  font-size: 18px;
  color: black;
  font-family: 'Roboto', sans-serif; }

.stock {
  text-align: right;
  font-size: 14px;
  color: black;
  font-family: 'Roboto', sans-serif;
  border-bottom: solid black; }

.camionero {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 2vh;
  margin-bottom: 2vh; }

.mategral {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 2vh;
  margin-bottom: 2vh; }

.imperial {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 2vh;
  margin-bottom: 2vh; }

.bombillametal {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 2vh;
  margin-bottom: 2vh; }

.personalizadas {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 2vh;
  margin-bottom: 2vh; }

.bombillaregular {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 2vh;
  margin-bottom: 2vh; }

.picoloro {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 2vh;
  margin-bottom: 2vh; }

.termoacero {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 2vh;
  margin-bottom: 2vh; }

.combo1 {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 5vh;
  margin-bottom: 5vw;
  margin-top: 5vw; }

.descripcioncombo {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: black;
  font-family: 'Roboto', sans-serif; }

.imagenes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-between; }

.imagenes h5 {
  padding-top: 40px;
  padding-left: 20px;
  text-align: center;
  color: black;
  font-size: 15px;
  font-family: 'Roboto', sans-serif; }

.imagenes .imagen3 {
  margin-left: 4px !important; }

.imagenes .imagen2, .imagenes .imagen3, .imagenes .imagen1 {
  border: solid 1px #624E2C;
  margin-bottom: 10px;
  height: 20vh;
  width: 20vw; }

.imagenes .imagen1 {
  margin-right: 4px !important; }

.imagenes .video1, .imagenes .video2 {
  margin-top: 20px;
  height: 515px;
  width: 61vw;
  border: solid 1px #624E2C;
  margin-bottom: 12px; }

.imagenes .video2 {
  margin-top: 12px !important;
  margin-bottom: 20px !important; }

.card-text {
  color: white; }

.bg-dark {
  background-color: #402218 !important; }

h5 {
  color: black;
  font-size: 20px;
  font-family: 'Roboto', sans-serif; }

.arbol {
  min-height: 100vh;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.page404 {
  width: 400px;
  height: auto; }

#tree {
  stroke: #59513C; }

#wood-stump {
  stroke: #59513C;
  -webkit-animation: wood-stump 3s infinite ease-in-out;
  -moz-animation: wood-stump 3s infinite ease-in-out;
  -o-animation: wood-stump 3s infinite ease-in-out;
  animation: wood-stump 3s infinite ease-in-out; }

@-webkit-keyframes wood-stump {
  0% {
    -webkit-transform: translate(100px); }
  50% {
    -webkit-transform: translate(50px); }
  100% {
    -webkit-transform: translate(100px); } }

@-moz-keyframes wood-stump {
  0% {
    -moz-transform: translate(100px); }
  50% {
    -moz-transform: translate(50px); }
  100% {
    -moz-transform: translate(100px); } }

@-o-keyframes wood-stump {
  0% {
    -o-transform: translate(100px); }
  50% {
    -o-transform: translate(50px); }
  100% {
    -o-transform: translate(100px); } }

@keyframes wood-stump {
  0% {
    -webkit-transform: translate(100px);
    -moz-transform: translate(100px);
    -ms-transform: translate(100px);
    transform: translate(100px); }
  50% {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    transform: translate(0px); }
  100% {
    -webkit-transform: translate(100px);
    -moz-transform: translate(100px);
    -ms-transform: translate(100px);
    transform: translate(100px); } }

#leaf {
  stroke: #59513C;
  -webkit-animation: leaf 7s infinite ease-in-out;
  -moz-animation: leaf 7s infinite ease-in-out;
  -o-animation: leaf 7s infinite ease-in-out;
  animation: leaf 7s infinite ease-in-out; }

@-webkit-keyframes leaf {
  0% {
    -webkit-transform: translate(0, 70px); }
  50% {
    -webkit-transform: translate(0, 50px); }
  100% {
    -webkit-transform: translate(0, 70px); } }

@-moz-keyframes leaf {
  0% {
    -moz-transform: translate(0, 70px); }
  50% {
    -moz-transform: translate(0, 50px); }
  100% {
    -moz-transform: translate(0, 70px); } }

@-o-keyframes leaf {
  0% {
    -o-transform: translate(0, 70px); }
  50% {
    -o-transform: translate(0, 50px); }
  100% {
    -o-transform: translate(0, 70px); } }

@keyframes leaf {
  0% {
    -webkit-transform: translate(0, 70px);
    -moz-transform: translate(0, 70px);
    -ms-transform: translate(0, 70px);
    transform: translate(0, 70px); }
  50% {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    transform: translate(0px); }
  100% {
    -webkit-transform: translate(0, 70px);
    -moz-transform: translate(0, 70px);
    -ms-transform: translate(0, 70px);
    transform: translate(0, 70px); } }

#border {
  stroke: #59513C; }

#Page {
  fill: #59513C; }

.c {
  text-align: center;
  display: block;
  position: relative;
  width: 80%;
  margin: 50px auto; }

.vuelta {
  background-color: #402218;
  display: inline-block;
  width: 358px;
  padding: 5px;
  font-size: 25px;
  color: wheat;
  text-decoration: none; }

.datos {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 15px;
  color: black;
  font-family: 'Roboto', sans-serif;
  border: solid #402218;
  margin-bottom: 40px;
  width: 70%; }

.tabcomb {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  border: solid #402218;
  width: 90%;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto; }
