* {
  margin: 0px;
  padding: 0px; }

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #fff59d, #fdeea4, #f9e7ab, #f3e1b3, #ecdbba); }

header {
  background-color: #fff59d;
  width: 100%; }
  header .logo {
    width: 120px;
    height: 120px; }

.titulo {
  margin-right: 120px;
  position: relative;
  left: 7vw;
  padding-top: 30px;
  padding-bottom: 30px;
  color: black;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

h2 {
  padding-top: 40px;
  padding-left: 20px;
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: 'Roboto', sans-serif black; }

.redes {
  margin: 5px;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 99%;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-template-rows: 100% 100%;
  grid-row-gap: 10px;
  text-align: start;
  font-size: 14px;
  color: black;
  font-family: 'Roboto', sans-serif; }

.encuesta {
  text-align: justify;
  border: solid 2px gray;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  margin-bottom: 40px; }

h3 {
  padding: 10px;
  text-align: center;
  position: relative;
  font-size: 14px;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif; }

.link {
  padding-top: 20px;
  text-align: center;
  padding-left: 20px;
  bottom: 25px; }

.imagen4 {
  left: 302px; }

.visualizacion {
  margin-top: 5vw;
  margin-bottom: 5vw; }

.visualizacioncombo {
  margin-top: 50px; }

.descripcion {
  text-align: start;
  font-size: 18px;
  color: black;
  font-family: 'Roboto', sans-serif; }

.stock {
  text-align: right;
  font-size: 14px;
  color: black;
  font-family: 'Roboto', sans-serif; }

.camionero {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 2vh;
  margin-bottom: 2vh; }

.mategral {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 2vh;
  margin-bottom: 2vh; }

.imperial {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 2vh;
  margin-bottom: 2vh; }

.bombillametal {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 2vh;
  margin-bottom: 2vh; }

.personalizadas {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 2vh;
  margin-bottom: 2vh; }

.bombillaregular {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 2vh;
  margin-bottom: 2vh; }

.picoloro {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 2vh;
  margin-bottom: 2vh; }

.termoacero {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 2vh;
  margin-bottom: 2vh; }

.combo1 {
  width: 300px;
  height: 300px;
  border: solid #624E2C;
  margin-left: 5vh;
  margin-bottom: 5vw;
  margin-top: 5vw; }

.descripcioncombo {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: black;
  font-family: 'Roboto', sans-serif; }

.imagenes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-between; }
  .imagenes h5 {
    padding-top: 40px;
    padding-left: 20px;
    text-align: center;
    color: black;
    font-size: 15px;
    font-family: 'Roboto', sans-serif; }
  .imagenes .imagen3 {
    margin-left: 4px !important; }
  .imagenes .imagen2, .imagenes .imagen3, .imagenes .imagen1 {
    border: solid 1px #624E2C;
    height: 200px;
    width: 20.1vw; }
  .imagenes .imagen1 {
    margin-right: 4px !important; }
  .imagenes .video1, .imagenes .video2 {
    margin-top: 20px;
    height: 515px;
    width: 61vw;
    border: solid 1px #624E2C;
    margin-bottom: 12px; }
  .imagenes .video2 {
    margin-top: 12px !important;
    margin-bottom: 20px !important; }

.card-text {
  color: white; }

.bg-dark {
  background-color: #402218 !important; }

h5 {
  color: black;
  font-size: 40px;
  font-family: 'Roboto', sans-serif; }
